<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395654341992-6pc2h2pmpou2fg59q5lpbv1g1lp6f7gv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395654341992-6pc2h2pmpou2fg59q5lpbv1g1lp6f7gv</string>
	<key>API_KEY</key>
	<string>AIzaSyC9uen8hB47r0X0gkyfIXgfMmjvGSSOTwM</string>
	<key>GCM_SENDER_ID</key>
	<string>395654341992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marifecto.datechatmeet</string>
	<key>PROJECT_ID</key>
	<string>marifecto</string>
	<key>STORAGE_BUCKET</key>
	<string>marifecto.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395654341992:ios:9cf166dfe7ee0df08022dd</string>
	<key>DATABASE_URL</key>
	<string>https://marifecto-default-rtdb.firebaseio.com</string>
</dict>
</plist>